body{
    background-color:black;
}

 h1{
 color:#F9F5EB;
  font-family: 'Cinzel', serif;
    font-size: 2rem;
    font-weight: bold;
}
 
h3{
    color: white;
}
p{
    color: white;
}

.name-hello{
    margin: 0%;
}

.name{
 font-family:Georgia, 'Times New Roman', Times, serif;
 font-size: 3rem;
 margin-top: 5px;
 margin-bottom: 5px;

}

.skill-text{
    margin-top: 5px;
    font-size: 2rem;
}
.imformation{
    padding:10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
 
nav ul li {
    display: inline-block;
    list-style:none ;
    margin: 10px 20px;
}
nav ul li a{
    color:#fff;
    font-size: 18px;
    text-decoration: none;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0%;
    bottom: -6px;
    transition:0.5s;
}

nav ul li a:hover::after{
    width: 100%;

}

.header-text{
    margin-top: 17%;
    font-size: 30px;
    color: #fff;
    
}

.social-media{
    padding-left: 220px;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #ff004f;
    border-radius: 50%;
    font-size: 20px;
    color: #408E91;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
}

.social-media a:hover{
  background: #DAF5FF;
  color: black;
}
#header{
    padding-bottom: 130px;
    background: url("Untitled\ design\ \(2\).png") no-repeat;
    background-position: right;
    background-size:40%;
    
}

.header-text h2{
    font-size: 25px;

}

#about{
    padding:80px 0;
    color: white;
    
}

.sub-title{
    font-family: 'PT Serif', serif;
    text-align: center;
}


.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis:35%;
}

.about-col-1 img{
    width: 70%;
    border-radius:15px;
    margin-left:70px ;
}

.about-col-2{
    flex-basis:65%;
}

.text{
    color:#E06469;
}

.header-text p{
    font-family: 'Merriweather', serif;
}


.tab-titles{
    /*color:#fff;*/
    display: flex;
    margin: 20px 0 0px;
}

.tab-links{
margin-right: 50px;
font-size: 18px;
font-weight: 500;
cursor: pointer;
position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color:#EB455F;
    font-size: 14px;
}
.tab-contents{
    display: none;    
}

.tab-contents.active-tab{
   display: block; 
    
}

.webdetail{
    color: white;
}
.skills-tab{
    padding-inline-start: 0;
}
.education-tab{
padding-inline-start:0;
}
.experience-tab{
    padding-inline-start:0;
}


/* -----------------------------services-------------------- */

#services{
    padding: 30px 0;
    height: 100vh;
    width: 100%;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 50px;
    color: white;
}

.services-list div{
    background-color:#181D31;
    padding:40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}


/* -----------------WORK----------------------- */

#work{
    padding: 50px 0;
    height: 100vh;
    width: 100%;

}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 50px;
}

.work{
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    display: block;
    transition:transform 0.5s;
    padding-left: 45px;
}

.layer{
    width: 65%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    position: absolute;
    left: 30px;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 16px;
    transition: height 0.5s;

}

.layer p{
    text-align: center;
}

.layre h3{
    font-weight: 500;
    margin-bottom: 20px;
    

}

.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #408E91;
    padding: 14px 50px;
    border-radius: 10px;
    text-decoration: none;
    color: darkcyan;
    transition: background 0.5s;
    
}

.btn:hover{
    background: #97DEFF;
    color: black;
}

/* -------------------CONTACT ME--------------- */

.contact-left{
    flex-basis: 60%;

}
.contact-right{
    float: right;
}
.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color: #AA77FF;
    font-size: 25px;
}

.btn2{
    display: inline-block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #408E91;
    padding: 14px 50px;
    border-radius: 10px;
    text-decoration: none;
    color: darkcyan;
    transition: background 0.5s;
}

.btn2:hover{
    background:#EDE9D5;
    color:black;
}

.container-contact{
    min-height: 100vh;
    background: #08071d;    
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("2109.jpg") no-repeat center center/cover;

}

.container-contact form{
    width: 670px;
    height: 400px;
    display: flex;
    justify-content: center;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255,0.1);
    backdrop-filter: blur(5px);
    flex-wrap: wrap;
    padding-top: 15px;
}

.container-contact form h1{
    color: #fff;
    font-weight: 500;
    margin-top: 20px;
    width: 500px;
    text-align: center;
}

.container-contact form input{
    width: 290px;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-bottom: 10px;
    background: none;
    border-bottom: 2px solid #fff;
}

.container-contact form input::placeholder{
    color: white;

}

.container-contact form #lastName,
.container-contact form #mobile{
    margin-left: 20px;
}

.container-contact form h4{
    color: #fff;
    font-weight: 300;
    width: 600px;
    margin-top: 20px;
}

.container-contact form textarea{
    background: none;
    border: none;
    border-bottom: 2px solid #fff;
    font-weight: 200;
    font-size: 15px;
    padding: 10px;
    outline: none;
    min-width: 600px;
    max-width: 600px;
    min-height: 80px;
    max-height: 80px;
}

textarea::-webkit-scrollbar{
    width: 1rem;
}

textarea::-webkit-scrollbar-thumb{
    background-color: rgba(194,194,194,0.713);
}

.container-contact form #button{
    border: none;
    background: #fff;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    color: black;
    width: 100px;
    padding: 0;
    margin-right: 500px;
    margin-bottom: 30px;
    transition: 0.5s;
}

.container-contact form #button:hover{
    opacity: 0.7;
    background: #ff004f;
}


#footer{
    width: 100%;
text-align: center;
font-weight: 300;
}

nav .fa-solid{
    display: none;
}










 /* ----------------------- small screen --------------- */

 @media only screen and (max-width: 600px){

    body{
        margin: 0;
        width: 100%;
        height: 100vh;
    }

        
    .container-contact{
        background-image: url(small.png);
    }

    .header-text{
        margin-top: 80%;
        font-size: 16px;
    }
    .text{
        font-size: 14px;
        color: #ff004f;
    }

    .skill-text{
        font-size: 14px;
    }

    .name{
        font-size: 10px;
    }

    .imformation{
    padding-right: 15px;
    padding-left: 15px;
    }

    .header-text h1{
        font-size: 30px;
    }

    nav .fa-solid{
        display: block;
        font-size: 25px;
    }

    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0px;
        right:-280px;
        width: 280px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    #sidemenu{
        margin: 0;
        padding-left: 0;
    }

    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .sub-titleme{
        font-size:25px ;
    }

    .about-col-1, .about-col-2{
       flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 0;
    }
    .about-col-2{
        font-size: 14px;
    }
    #about{
        margin-left: 30px;
        margin-right:30px ;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .about-col-1 img{
        margin-left: 0;
        width: 100%;
    }
    #services{
        padding: 30px;
    }

    .work-list{
        padding-left: 18px;
    }
    
    .contact-right form{
        width: auto;
        height: auto;
    }
    .contact-right h4{
        text-align: center;
    }
    .contact-right{
        width: 100%;
        height: 100vh;
    }

    .contact-right button{
        align-content: center;
    }
     .container-contact form{
        backdrop-filter: none;
     }   

    .social-media{
        padding-left: 200px;
    }
    #button{
        margin-right:0px;
    }

    }



    

 

